header.current-user {
  width: 30%;
  height: 520px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #D89820;
  background-image: url("../images/3px-tile.png");
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 120px;
}

.proname {
  margin: 0px;
}