.new-tweet {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.new-tweet h2 {
  text-align: center;
}

#tweet-text {
  width: 100%;
  background-color: inherit;
  border-bottom-color: black;
  border-bottom-width: 5px;
  border-top: none;
  border-left: none; 
  border-right: none;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

.button-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.new-tweet form button {
  background-color: #4055A1;
  color: white;
  border: none;
  font-family: 'Bungee', cursive;
  padding: 6px 15px 6px 15px;
}

section.new-tweet form button:hover {
  background-color: #D89820;
}

.errors {
  color: red;
  display: flex;
  justify-content: center;
}